* {
    margin: 0;
    padding: 0;

}


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightslategray;
    height: 100vh;
    width: 100%;

}

.tittle {
    width: 75%;
    padding: 40px;
    text-align: center;
}



/* element btn home */

.menu-dezp {
    background: midnightblue;
    color: #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    top: 0;
    clip-path: circle(55px at 50% 0);
    transition: .7s ease all;
}

.menu-dezp.active {
    clip-path: circle(50% at 50% 0);
}

.btn-open-home {
    font-size: 25px;
    padding: 10px;
    cursor: pointer;

}

.btn-open-home:hover {
    animation: rot 1.5s alternate;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.elements-home {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 2000px) and (min-width: 1500px) {
    .elements-home {
        height: 70%;
    }
}

@media (max-width: 2992px) and (min-width: 2000px) {
    .elements-home {
        height: 70%;
    }

    .elements-home li {
        padding-bottom: 20px !important;
        margin-bottom: 20px !important;
    }

    .elements-home li a {
        font-size: 55px !important;
    }

    .btn-open-home {
        font-size: 45px;
    }

    .menu-dezp {
        clip-path: circle(72px at 50% 0);
    }
}

@media (max-width: 1500px) and (min-width: 768px) {
    .elements-home {
        height: 50%;
    }

    .elements-home li {
        padding-bottom: 20px !important;
        margin-bottom: 20px !important;
    }

    .elements-home li a {
        font-size: 20px !important;
    }
}

@media (max-width: 767px) {
    .elements-home {
        height: 35%;
    }

    .elements-home li a {
        font-size: 20px !important;
        padding: 10px 30px !important;
    }

    .elements-home li {
        padding-bottom: 12px !important;
        margin-bottom: 12px !important;
    }
}

.elements-home li {
    list-style: none;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/*.menu-dezp.active li {
    animation: dezp 1s ease;
}

@keyframes dezp {
    from {transform: translateY(1000px);}
    to {transform: translateY(0);}
}*/

.menu-dezp.active .one {
    animation: dezp 1s ease;
}

@keyframes dezp {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateY(0);
    }
}

.menu-dezp.active .two {
    animation: dezp2 1s ease;
}

@keyframes dezp2 {
    from {
        transform: translateX(1000px);
    }

    to {
        transform: translateY(0);
    }
}

.menu-dezp.active .three {
    animation: dezp3 1s ease;
}

@keyframes dezp3 {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateY(0);
    }
}

.menu-dezp.active .four {
    animation: dezp4 1s ease;
}

@keyframes dezp4 {
    from {
        transform: translateX(1000px);
    }

    to {
        transform: translateY(0);
    }
}

.elements-home li a {
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 15px 30px;
    color: #f8f8f8;
    text-transform: uppercase;
    transition: .2s ease all;
}

.elements-home li a:hover {
    background: #ffffff;
    color: #000000;
}